/*  your css code here. If applicable */body{
	text-align: center;
	font-family: Atial, sans-serif;
	background-color: #f4f4f4;
}
#verification_heading{
	font-size:24px;
	font-weight: bold;
	mergin-top:20px;
}
#verification_subtext{
	margin-tip:10px;
	color:#666;
}
.code-container{
	mergin-top:20px;
}
.code{
	width:40px;
	height:40px;
	font-size:20px;
	broder:1px solid #ccc;
	mergin: 0 5px;
	border-radius:5px;
}
input[type="text"]:focus{
	border-color: #007bff;
	outline: none;
}

